.active
{
    color: var(--flash-active);
}

.flash-warning
{
    width: 250px;
    background-color: var(--flash-warning);
    box-sizing: border-box;

    margin: 0 auto 20px;
    padding: 15px;
    border-radius: 5px;
}