.m-tb-30
{
    margin: 30px 0;
}

.m-t-30
{
    margin-top: 30px;
}

.m-b-30
{
    margin-bottom: 30px;
}

.m-r-30
{
    margin-right: 30px;
}

.m-r-15
{
    margin-right: 15px;
}

.m-0
{
    margin: 0;
}