.m-0
{
    margin: 0;
}

.p-0
{
    padding: 0;
}

.m-t-50
{
    margin-top: 50px;
}

.m-t-30
{
    margin-top: 30px;
}

.m-t-20
{
    margin-top: 20px;
}

.m-r-50
{
    margin-right: 50px;
}

.m-r-30
{
    margin-right: 30px;
}

.m-r-20
{
    margin-right: 20px;
}

.m-b-50
{
    margin-bottom: 50px;
}

.m-b-40
{
    margin-bottom: 40px;
}

.m-b-30
{
    margin-bottom: 30px;
}

.m-b-20
{
    margin-bottom: 20px;
}

.m-l-50
{
    margin-left: 50px;
}

.m-l-30
{
    margin-left: 30px;
}

.m-l-20
{
    margin-left: 20px;
}