/* Sumary (CTRL + F)
Section, Link, Card
*/

/* Section */
.section-content
{
    background-color: var(--background-color-section);

    margin: 25px 0;
    padding: 30px 0;
}

.section-card
{
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    flex-wrap: wrap;
    gap: 35px;
}

.section-card-id
{
    width: 80%;

    margin: auto;
}

/* Link */
.link-h1
{
    color: var(--color-link);
    background-color: var(--background-color-link);

    padding: 5px 10px;
}

.link-h1:hover
{
    color: var(--color-link-hover);
    background-color: var(--background-color-link-hover);
}

.link-hyper-text
{
    width: 75px;
    color: var(--color-link);
    background-color: var(--background-color-link);

    border-radius: 2px;
}

.link-hyper-text:hover
{
    color: var(--color-link-hover);
}

.link-menu
{
    width: 125px;
    color: var(--color-link);
    background-color: var(--background-color-link);

    padding: 5px;
    border: 2px solid var(--color-link);
    border-radius: 10px;
}

.link-menu:hover
{
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
}

.link-section
{
    width: 150px;
    color: var(--color-link);
    background-color: var(--background-color-link);

    padding: 8px;
    border-radius: 5px;    
}

.link-section:hover
{
    color: var(--color-link-hover);
    background-color: var(--background-color-link-hover);
}

.link-submit
{
    cursor: pointer;
    width: 250px;
    font-size: 1.1em;
    font-family: var(--font-family);
    color: var(--color-link);
    background-color: var(--background-color-link);

    padding: 8px;
    border: none;
    border-radius: 5px;
}

.link-submit:hover
{
    color: var(--color-link-hover);
}

.logo
{
    width: 50px;
}