/* Section */
.section-content
{
    background-color: var(--background-color-section);

    margin: 25px 0;
    padding: 30px 0;
}

.section-news
{
    background-color: var(--background-color-section);

    padding: 20px;
}

.section-card
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 35px;
}

.section-card-name-head
{
    width: 80%;
    background-color: var(--background-color-header);
    box-sizing: border-box;

    margin: auto;
    padding: 20px;
    border-radius: 0 0 5px 5px; 
}

.section-card-name-image
{
    width: 80%;

    margin: auto;
}

.section-card-name-content
{
    background-color: var(--background-color-content);

    padding: 20px;
}

/* Link */
.link-menu
{
    color: var(--color-link);

    padding: 8px;
    border-radius: 5px;
}

.link-menu:hover
{
    color: var(--background-color-section);
    background-color: var(--color-link);
}

.link-card
{
    width: 100%;
    color: var(--color-link);
    background-color: var(--background-color-header);
    box-sizing: border-box;

    padding: 10px;
    border-top: 2px solid var(--background-color-section);
    border-radius: 0 0 5px 5px;
}

.link-card:hover
{
    color: var(--background-color-section);
    background-color: var(--color-link);
}

.link-back
{
    width: 180px;
    color: var(--color-link);
    background-color: var(--background-color-header);

    padding: 8px;
    border-radius: 5px; 
}

.link-back:hover
{
    color: var(--background-color-section);
    background-color: var(--color-link);
}

/* Card */
.div-card
{
    width: 20%;
}

.figure-image:hover
{
    box-sizing: border-box;

    border: 3px solid var(--background-color-header);

    animation: bounce 1s;
}

/* Image */
.logo
{
    width: 50px;
}