/* Section */
.section-content
{
    background-color: var(--background-color-section);

    margin: 25px 0;
    padding: 30px 0;
}

.section-card
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 35px;
}

/* Link */
.link-menu
{
    color: var(--color-link);

    padding: 8px;
    border-radius: 5px;
}

.link-menu:hover
{
    color: var(--background-color-section);
    background-color: var(--color-link);
}

.link-card
{
    width: 100%;
    color: var(--color-link);
    background-color: var(--background-color-header);
    box-sizing: border-box;

    padding: 10px;
    border-top: 2px solid var(--background-color-section);
    border-radius: 0 0 5px 5px;
}

.link-card:hover
{
    color: var(--background-color-section);
    background-color: var(--color-link);
}

/* Card */
.div-card
{
    width: 20%;
}

/* Image */
.logo
{
    width: 50px;
}