body
{
    font-family: var(--font-family);
    text-align: center;
    background-color: var(--background-color-body);
    box-sizing: border-box;

    line-height: 1.5;
}

header
{
    background-color: var(--background-color-header);

    padding: 20px 30px;
}

h1
{
    font-size: 1.1em;
    font-weight: bold;
    color: var(--color-link);
}

h3
{
    font-size: 1.2em;
    color: var(--background-color-section);
}

h4
{
    font-size: 1.1em;   
    color: var(--color-link);
}

h5
{
    font-size: 1.1em;
    color: var(--color-link);
}

p
{
    font-size: 1.1em;

    margin-bottom: 10px;
}

a
{
    font-size: 1.1em;
    text-decoration: none;

    display: inline-block;
}

img
{
    width: 100%;
    height: auto;

    display: flex;
}

form div
{
    margin-bottom: 20px;
}

form div input
{
    width: 250px;
    background-color: var(--background-color-form-input);

    padding: 5px;
    border: 1px solid var(--border-form);
    border-radius: 5px;

    box-sizing: border-box;
}

form div input:focus
{
    background-color: var(--background-color-form-focus);
}