:root
{
    /* Font */
    --font-family: "Montserrat", "Open Sans", sans-serif;

    /* Main Blocs */
    --background-color-body: #ebebeb;
    --background-color-header: #333333;
    --background-color-section: #71afcd;
    --background-color-content: #ff5a98;

    /* Link */
    --color-link: #ebebeb;

    /* Police */
    --color-white: #ffffff;

    /* Form */
    --background-color-form-input: #f5f5ef;
    --border-form: #333333;
    --background-color-form-focus: #ffffff;

    /* Flash */
    --flash-active: #71afcd;
    --flash-warning: #DC143C;
}