input::-webkit-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

textarea::-webkit-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

input::-moz-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

textarea::-moz-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

input:-ms-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

textarea:-ms-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}